@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(130deg, #352782, #08ebd1);
}

.container {

  font-family: "Roboto Mono", monospace;
    
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Set the background color to be transparent */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust the alpha value here for the box shadow transparency */
    background-image: linear-gradient(45deg, #2f4680, #0a9ce5);
    /* margin-top: 105px; */
}


#input {
  height: 50px;
  width: 400px;
  border: none;
  outline: none;
  color: #474747;
  background: #ceedfc;
  padding-left: 25px;
  border-radius: 40px;
  font-size: 17px;
}

#btn {
  /* color: #474747; */
  background: #ceedfc;
  border: none;
  width: 50px;
  padding: 10px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

.data {
  /* margin-top: 10px; */
}

.temp {
  color: #fff;
  font-size: 60px;
  /* line-height: 1; */
}

.temp1 {
  color: #fff;
  font-size: 30px;

}

.location {
  font-size: 40px;
  color: #fff;
}

.weather {
  width: 150px;
  margin: 30px 0;
}

.weather-data {
  width: 100%;
  margin-top: 40px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.col {
  display: flex;
  align-items: first baseline;
  gap: 10px;
  font-size: 18px;
}

.col span {
  display: block;
  font-size: 16px;
}

.col img {
  width: 36px;
  margin-top: 10px;
}